<!DOCTYPE html>
<html dir="rtl" lang="fa">
    <head>
        <meta charset="UTF-8" />
        <title>مدیریت پرونده های چند رسانه ای</title>
        <link rel="stylesheet" type="text/css" href="/vendor/fontawesome/4.6.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/vendor/fontiran/4.0/css/iransans.css" />

        <script src="/vendor/jquery/2.2.3/jquery.min.js" ></script>

        <style>
            html, body{
                height: 100%;
                padding: 0px;
                margin: 0px;
            }
            .sidebar{
                float: left;
                width: 0px;
                display: none;
                height: 100%;
                background-color: #FAFAFA;
                border-right: 1px solid #E3E3E3;
                transition: ease all 0.2s;
            }
            .mainbar{
                margin-left: 5px;
                height: 100%;
                transition: ease all 0.2s;
                width: 100%;
            }

            .open .sidebar{
                width: 450px;
                display: inline-block;
            }
            .open .mainbar{
                width: calc(100% - 455px);
            }
        </style>
        <script>
            function toggleSidebar() {
                $('body').toggleClass('open');
            }
        </script>
    </head>
    <body>
        <div class="sidebar">

        </div>
        <div class="mainbar">
            <table width="100%" cellspacing="5" cellpadding="5" height="100%" border="0">
                <tbody><tr>
                    <td class="dirtree">

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/52"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_52" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('forget');" onmouseout="$(this).html('forget')" href="/admin/explorer/index/nid/52">forget</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/53"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_53" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('info');" onmouseout="$(this).html('info')" href="/admin/explorer/index/nid/53">info</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/54"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_54" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('list');" onmouseout="$(this).html('list')" href="/admin/explorer/index/nid/54">list</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/55"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_55" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('passwd');" onmouseout="$(this).html('passwd')" href="/admin/explorer/index/nid/55">passwd</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/56"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_56" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('reg');" onmouseout="$(this).html('reg')" href="/admin/explorer/index/nid/56">reg</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/57"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_57" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('signin');" onmouseout="$(this).html('signin')" href="/admin/explorer/index/nid/57">signin</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/58"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_58" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('signup');" onmouseout="$(this).html('signup')" href="/admin/explorer/index/nid/58">signup</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/91"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_91" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('update');" onmouseout="$(this).html('update')" href="/admin/explorer/index/nid/91">update</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/96"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_96" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('hot');" onmouseout="$(this).html('hot')" href="/admin/explorer/index/nid/96">hot</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/102"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_102" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('telegfa');" onmouseout="$(this).html('telegfa')" href="/admin/explorer/index/nid/102">telegfa</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>

                        <table class="node">
                            <tbody><tr>
                                <td>
                                    <a href="/admin/explorer/index/nid/105"><img src="/assets/images/folder.png"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="name_105" class="hovername_wrappercenter">
                                        <a class="hovername" onmouseover="$(this).html('specialoffers');" onmouseout="$(this).html('specialoffers')" href="/admin/explorer/index/nid/105">specialoffers</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>saeed</td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>
        </div>
    </body>
</html>