<!DOCTYPE html>
<html dir="rtl" lang="fa">
    <head>
        <meta charset="UTF-8" />
        <title>مدیریت پرونده های چند رسانه ای</title>
        <link rel="stylesheet" type="text/css" href="/vendor/fontawesome/4.6.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/vendor/fontiran/4.0/css/iransans.css" />
        <link rel="stylesheet" type="text/css" href="/dist/admin.css" />

        <script src="/vendor/jquery/2.2.3/jquery.min.js" ></script>
        <script src="/vendor/jquery/extensions/form.js" ></script>
        <script src="/vendor/bootstrap/3.6.6/js/bootstrap.min.js" ></script>
        <script src="/dist/script.js" ></script>

        <style>
            html, body{
                height: 100%;
                padding: 0px;
                margin: 0px;
            }
            .sidebar{
                float: left;
                width: 0px;
                display: none;
                height: 100%;
                background-color: #FCFCFC;
                border-right: 1px solid #E3E3E3;
            }
            .stage{
                margin-left: 5px;
                height: 100%;
                width: 100%;
                padding: 60px 15px 15px 15px;
                transition: ease all 0.6s;
            }

            .sidebar_open .sidebar{
                width: 350px;
                display: inline-block;
            }
            .sidebar_open .stage{
                width: calc(100% - 355px);
            }
            .toolbar_open .stage{
                padding-top: 110px;
            }

            .toolbar {
                padding: 0px;
                background: #FDFDFD;
                border-bottom: 1px solid #F6F6F6;
                position: fixed;
                width: 100%;
                z-index: 1000;
            }
            .toolbar > ul > li > a {
                color: #787878;
            }
            .toolbar .dropdown-menu {
                border-radius: 0px;
                margin-top: 0px;
            }
            .toolbar-box {
                padding: 10px;
                border-top: 1px solid #DBCFB7;
                border-bottom: 1px solid #E6EA9E;
                background: #fefdec;
                display: none;
            }
            .toolbar-box .input-group {
                max-width: 500px;
            }
            .toolbar-alert {
                padding: 10px;
                display: none;
            }
            .toolbar-alert-error {
                border-top: 1px solid #F00;
                border-bottom: 1px solid #F00;
                background: #ffafaf;
            }
            .toolbar-alert-success {
                border-top: 1px solid #8EC086;
                border-bottom: 1px solid #8EC086;
                background: #bce6a2;
            }

            .node {
                width: 130px;
                float: right;
                margin: 10px;
                text-align: center;
                color:#AAA;
                border: 1px solid #DDD;
                height: 153px;
                position: relative;
            }

            .node tr td{color:#AAA; font-size: 11px; display: block; overflow: hidden}
            .node tr td a{color: #666}

            .node .thumb {height: 100px}
            .node .title {height: 25px}
            .node .owner {height: 25px}

            .node:hover{background-color:#FEFEFE; border: 1px solid #BBB}
            .active_node,
            .active_node:hover {background-color:#FEFEFE; border: 1px solid #13B2FC}

            .node .flag {
                position: absolute;
                display: none;
                top: -15px;
                left: 5px;
                z-index: 999;
                color: #58992a;
                font-size: 30px;
            }

            .selected_node {
                border: 1px solid #3bcb3b;
            }
            .selected_node .flag {
                display: inline-block;
            }

            .toolbar_open_for_delete .selected_node{
                border: 1px solid #d43f3a;;
            }
            .toolbar_open_for_delete .selected_node .flag{
                color:#d43f3a;;
            }

            .toolbar_open_for_move .selected_node{
                border: 1px solid #2e6da4;
            }
            .toolbar_open_for_move .selected_node .flag{
                color:#2e6da4;
            }

            .name_wrapper {text-align: center; direction: rtl;}
            .name_wrapper .hovername{
                font-size: 11px;
                display: block;
                position: relative;
                text-align: center;
                border: 1px solid transparent;
                padding: 5px 10px;
                z-index: 1;
                border-radius: 5px;
                color: #454545;
            }
            .name_wrapper .hoverfullname{
                font-size: 11px;
                display: block;
                position: relative;
                text-align: center;
                border: 1px solid transparent;
                padding: 5px 10px;
                z-index: 1;
                border-radius: 5px;
                color: #454545;
            }
            .name_wrapper .hoverfullname:hover {
                position: absolute;
                min-width: 150px;
                margin-right: -11px;
                background-color: #FCFFF1;
                border: 1px solid #E7DFC4;
                z-index: 1000;
                max-width: 250px;
            }

            .template { display: none; }
            .template_loading { padding: 50px 30px 40px 30px; width: 128px; color: #DDD; }
            .template_progress{ padding: 0px 15px; }

            .rtlbox{direction: rtl}
            .rtlbox:hover{text-align: right !important;}
            .ltrbox{direction: ltr}
            .ltrbox:hover{text-align: left !important;}

        </style>
        <script>

            var current_node = 0;
            var active_toolbar = null;
            var active_proceesses = 0;
            var select_mode = false
            var upload_id = 0;

            var modal = parent.modalMediaManager;

            function switchToolbar(obj) {

                resetAll();

                if(obj != active_toolbar) {

                    active_toolbar = obj;

                    $('body').addClass('toolbar_open');
                    $('.toolbar-box').slideUp();
                    $(obj).slideDown();

                    if(obj == '#toolbarMove'){
                        select_mode = true;
                        $('body').addClass('toolbar_open_for_move');
                    } else if(obj == '#toolbarDelete'){
                        select_mode = true;
                        $('body').addClass('toolbar_open_for_delete');
                    }

                } else {
                    closeToolbar();
                }
            }

            function resetAll() {

                select_mode = false;

                $('.active_node').removeClass('active_node');
                $('.selected_node').removeClass('selected_node');

                $('#btnMove').removeData('confirm').removeAttr('disabled').val('انتقال فایل های انتخاب شده');
                $('#btnDelete').removeData('confirm').removeAttr('disabled').val('حذف فایل های انتخاب شده');

                $('body').removeClass('toolbar_open_for_move toolbar_open_for_delete');

            }

            function closeToolbar() {

                resetAll();

                active_toolbar = null;
                $('.toolbar-box').slideUp();
                $('body').removeClass('toolbar_open');

            }


            function showError(message) {
                $('.toolbar-alert')
                    .hide()
                    .html(message)
                    .removeClass('toolbar-alert-success')
                    .addClass('toolbar-alert-error')
                    .slideDown();
                setTimeout(function () {
                    hideAlert();
                }, 6000)
            }

            function showSuccess(message) {
                $('.toolbar-alert')
                    .hide()
                    .html(message)
                    .removeClass('toolbar-alert-error')
                    .addClass('toolbar-alert-success')
                    .slideDown();

                setTimeout(function () {
                    hideAlert();
                }, 6000);
            }

            function hideAlert() {
                $('.toolbar-alert').hide();
            }


            function ajax_request(url, data, events) {

                var events = $.extend({
                    beforeSend: null,
                    done: null,
                    fail: null,
                    always: null
                }, events);

                $.ajax({
                    url: url,
                    method: "POST",
                    data: data,
                    events: events,
                    beforeSend: function (xhr) {

                        if(!active_proceesses){
                            modal.showProgressBar();
                        }

                        active_proceesses++;

                        if(typeof events.beforeSend === 'function'){
                            events.beforeSend();
                        }
                    }
                })
                .done(function (data) {
                    try {
                        if(typeof events.done === 'function'){
                            events.done(data);
                            autodir();
                        }
                    } catch (e) {
                        showError("خطا در پردازش اطلاعات!");
                    }
                })
                .fail(function () {

                    showError("خطا در دریافت اطلاعات!");

                    if(typeof events.fail === 'function'){
                        events.fail();
                    }

                })
                .always(function () {

                    active_proceesses--;
                    if(!active_proceesses){
                        modal.hideProgressBar();
                    }

                    if(typeof events.always === 'function'){
                        events.always();
                    }
                });
            }

            function explore(id) {

                if(select_mode){
                    return false
                }

                ajax_request('/admin/general/media/remote_explore/' + id, {},
                    {
                        done: function(data){
                            if(data.success){

                                $('.stage').html(data.content);
                                modal.setAddress(data.address);
                                current_node = data.node;

                            } else {
                                showError('عملیات با خطا مواجه شد');
                            }
                        }
                    }
                );
            }

        </script>
    </head>
    <body>

        <div class="toolbar">
            <ul class="nav nav-pills">
                <li style="font-size: 18px"><a href="javascript:void(0)" onclick="switchToolbar('#toolbarCreateFolder')" class="fa fa-folder-open-o" data-toggle="dropdown"></a></li>
                <li style="font-size: 18px"><a href="javascript:void(0)" onclick="switchToolbar('#toolbarUpload')" class="fa fa-file-text-o" data-toggle="dropdown"></a></li>
                <li style="font-size: 18px"><a href="javascript:void(0)" onclick="switchToolbar('#toolbarSearch')" class="fa fa-search" data-toggle="dropdown"></a></li>
                <li style="font-size: 18px"><a href="javascript:void(0)" onclick="switchToolbar('#toolbarMove')" class="fa fa-files-o" data-toggle="dropdown"></a></li>
                <li style="font-size: 18px"><a href="javascript:void(0)" onclick="switchToolbar('#toolbarDelete')" class="fa fa-trash-o" data-toggle="dropdown"></a></li>
            </ul>
            <div class="toolbar-box" id="toolbarCreateFolder">
                <div class="input-group">
                    <input class="form-control" id="txtFolderName" placeholder="نام پوشه جدید را وارد نمایید">
                    <span class="input-group-btn">
                        <button class="btn btn-success" id="btnCreateFolder" type="button">ایجاد پوشه</button>
                    </span>
                </div>
            </div>
            <div class="toolbar-box" id="toolbarUpload">
                <input type="button" class="btn btn-success" id="btnUpload" value="انتخاب و آپلود فایل">
            </div>
            <div class="toolbar-box" id="toolbarSearch">
                <div class="input-group">
                    <input class="form-control" id="txtSearch" placeholder="عبارتی را جهت جستجو وارد نمایید">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="btnSearch" type="button">جستجو</button>
                    </span>
                </div>
            </div>
            <div class="toolbar-box" id="toolbarMove">
                <input type="button" class="btn btn-primary" id="btnMove" value="انتقال فایل های انتخاب شده">
            </div>
            <div class="toolbar-box" id="toolbarDelete">
                <input type="button" class="btn btn-danger" id="btnDelete" value="حذف فایل های انتخاب شده">
            </div>

            <div class="toolbar-alert"></div>
        </div>

        <div class="sidebar"></div>
        <div class="stage"></div>

        <script>

            $('.stage').on('click', '.node', function (){
                if(select_mode){
                    $(this).toggleClass('selected_node');
                } else {
                    $('.active_node').removeClass('active_node');
                    $(this).addClass('active_node');
                }
            });

            $('#btnCreateFolder').click(function () {

                hideAlert();

                var name = $('#txtFolderName').val();
                if(name == ''){
                    showError('نام پوشه وارد نشده است');
                } else {
                    ajax_request('/admin/general/media/remote_create_folder/' + current_node, {'name': name},
                        {
                            beforeSend: function () {
                                $('#btnCreateFolder').val('صبر کنید ...').attr('disabled', 'disabled');
                                $('#txtFolderName').attr('disabled', 'disabled');
                            },
                            done: function(data){
                                if(data.success){

                                    if(data.node == current_node) {

                                        if ($('.node-folder').length) {
                                            $('.node-folder:last').after(data.content);
                                        } else {
                                            $('.stage').prepend(data.content);
                                        }
                                        $('#txtFolderName').val('');

                                        autodir();
                                        closeToolbar();
                                        showSuccess('عملیات با موفقیت انجام شد');
                                    }

                                } else if(data.error){
                                    showError(data.error)
                                } else {
                                    showError('عملیات با خطا مواجه شد');
                                }
                            },
                            always: function () {
                                $('#btnCreateFolder').val('ایجاد پوشه').removeAttr('disabled');
                                $('#txtFolderName').removeAttr('disabled');
                            }
                        }
                    );
                }
            });

            $('#btnUpload').click(function () {
                hideAlert();
                upload_id ++;

                $('#temp').append('<form id="form_'+ upload_id +'"><input type="file" class="file" multiple="multiple"></form>');
                $('#form_' + upload_id + ' .file').change(function () {

                    var files = $(this)[0].files;

                    for(var i = 0; i < files.length; i++) {

                        upload_id ++;

                        var $template = $($('#template_file').html());
                        $template.filter('table').attr('id', 'box_' + upload_id);
                        $('.stage').append($template);

                        var formData = new FormData();
                        formData.append('file', files[i]);

                        $.ajax({
                            url: '/admin/general/media/remote_upload/' + current_node,
                            type: 'POST',
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,

                            upload_id: upload_id,

                            beforeSend: function () {

                                if (!active_proceesses) {
                                    modal.showProgressBar();
                                }

                                active_proceesses++;

                                $('#box_' + this.upload_id).find('.progress-bar').css('width', '0%');
                            },

                            uploadProgress: function (event, position, total, percentComplete) {
                                $('#box_' + this.upload_id).find('.progress-bar').css('width', percentComplete + '%');
                            }

                        }, 'json')
                        .done(function (data) {
                            try {
                                if (data.success) {
                                    if (data.node == current_node) {

                                        $('#box_' + this.upload_id).replaceWith(data.content);

                                        autodir();
                                        closeToolbar();
                                        showSuccess('عملیات ارسال پرونده با موفقیت انجام شد.');

                                    }

                                } else {
                                    showError('پرونده ارسال شده معتبر نمی باشد.');
                                    $('#box_' + this.upload_id).remove();
                                }

                            } catch (e) {
                                $('#box_' + this.upload_id).remove();
                                showError('عملیات با خطا مواجه شد.');
                            }
                        })
                        .fail(function () {
                            $('#box_' + this.upload_id).remove();
                            showError('عملیات با خطا مواجه شد.');
                        })
                        .always(function () {
                            active_proceesses--;
                            if (!active_proceesses) {
                                modal.hideProgressBar();
                            }
                        });
                    }

                }).click();
            });

            $('#btnSearch').click(function () {
                hideAlert();
                var query = $('#txtSearch').val();
                if(query == ''){
                    showError('نام پوشه وارد نشده است');
                } else {
                    ajax_request('/admin/general/media/remote_search', {'query': query},
                        {
                            beforeSend: function () {
                                $('#btnSearch').val('صبر کنید ...').attr('disabled', 'disabled');
                                $('#txtSearch').attr('disabled', 'disabled');
                            },
                            done: function(data){
                                if(data.success){

                                    $('.stage').html(data.content);
                                    modal.setAddress(data.address);
                                    current_node = data.node;

                                } else if(data.error){
                                    showError(data.error)
                                } else {
                                    showError('عملیات با خطا مواجه شد');
                                }
                            },
                            always: function () {
                                $('#btnSearch').val('جستجو').removeAttr('disabled');
                                $('#txtSearch').removeAttr('disabled');
                            }
                        }
                    );
                }
            });

            $('#btnMove').click(function () {

                hideAlert();

                if ($(this).data('confirm') != null) {

                    ajax_request('/admin/general/media/remote_move/' + current_node, {'selected': $(this).data('confirm')},
                        {
                            beforeSend: function () {
                                $('#btnMove').val('صبر کنید ...').attr('disabled', 'disabled');
                            },
                            done: function(data){
                                if(data.success){

                                    closeToolbar();
                                    showSuccess('عملیات با موفقیت انجام شد');
                                    explore(current_node);


                                } else if(data.error){
                                    closeToolbar();
                                    showError(data.error);
                                } else {
                                    showError('عملیات با خطا مواجه شد');
                                    $('#btnMove').val('انتقال به پوشه فعلی').removeAttr('disabled', 'disabled');
                                }
                            },
                            failed: function () {
                                showError('عملیات با خطا مواجه شد');
                                $('#btnMove').val('انتقال به پوشه فعلی').removeAttr('disabled', 'disabled');
                            }
                        });

                } else {

                    var selected = [];
                    $('.selected_node').each(function () {
                        selected.push($(this).data('id'));
                    });

                    select_mode = false;
                    $('.selected_node').removeClass('selected_node');
                    $('body').removeClass('toolbar_open_for_move');

                    $(this).data('confirm', selected).val('انتقال به پوشه فعلی');
                }
            });

            $('#btnDelete').click(function () {

                hideAlert();

                if ($(this).data('confirm') != null) {

                    var selected = [];
                    $('.selected_node').each(function () {
                        selected.push($(this).data('id'));
                    });

                    ajax_request('/admin/general/media/remote_delete', {'selected': selected},
                    {
                        beforeSend: function () {
                            $('#btnDelete').val('صبر کنید ...').attr('disabled', 'disabled');
                        },
                        done: function(data){
                            if(data.success){

                                for (var i = 0; i < data.deleted.length; i++){
                                    $('#node_' + data.deleted[i]).hide('fast', function () {
                                        $(this).remove();
                                    })
                                }

                                closeToolbar();
                                showSuccess('عملیات با موفقیت انجام شد');


                            } else if(data.error){
                                showError(data.error)
                            } else {
                                showError('عملیات با خطا مواجه شد');
                            }
                        },
                        always: function () {
                            $('#btnDelete').removeData('confirm').removeAttr('disabled').val('حذف فایل های انتخاب شده');
                        }
                    });

                } else {
                    $(this).data('confirm', 1).val('عملیات قابل بازگشت نمیباشد. آیا مطمئنید ؟');
                }
            });

            explore(0);

        </script>
        <div class="template" id="template_file">
            <table class="node">
                <tbody>
                <tr>
                    <td><div class="template_loading"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div></td>
                </tr>
                <tr>
                    <td><div class="template_name"></div></td>
                </tr>
                <tr>
                    <td>
                        <div class="template_progress">
                            <div class="progress progress-xxs active">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: 0%"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="temp" style="display: none;"></div>
    </body>
</html>