{% extends 'theme/admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include ':vendor:tinymce.html.twig' %}
    {% include ':vendor:select2.html.twig' %}
{% endblock %}

{% block commandbar %}
    <a href="{{ path('admin_notice_message') }}" class="btn btn-default">انصراف و بازگشت</a>
{% endblock %}

{% block body %}
    {{ errors }}
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title bold">ویرایش پیام</h3>
        </div>
        <!-- /.box-header -->
        <form role="form" method="post" id="form_update">
            <div class="box-body">

                <!-- Nav tabs -->
                {% include ':field:title.html.twig' with { 'form': form } only %}
                {% include ':field:sender.html.twig' with { 'form': form } only %}
                {% include ':field:receiver.html.twig' with { 'form': form } only %}
                {% include ':field:message.html.twig' with { 'form': form } only %}

            </div>
            <div class="box-footer no-border">
                {% include ':form:update_reset.html.twig' with { 'form': form } %}
            </div>
        </form>
        <!-- /.box-body -->
    </div>
{% endblock %}