.modal-media-manager{
  .modal-dialog {
    margin: 50px;
    width: calc(~'100% - 100px');
    height: 100%;
  }
  .modal-content {
    height: calc(~'100% - 100px');
  }
}


.dataTables_paginate{
  text-align: left !important;
}
.dataTables_filter{
  text-align: left !important;
}
.dataTables_length label{
  text-align: right !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: BYekan !important;
}