@import "inc/mixins";
@import "inc/for";

//Configuration
@font-sizes: 9px, 10px, 11px, 12px, 13px, 14px, 15px, 16px, 17px, 18px, 19px, 20px, 21px, 22px, 24px, 25px, 28px, 30px, 35px, 40px, 45px, 50px, 55px, 60px, 70px, 80px, 90px, 100px;
@paddings: 1px, 2px, 3px, 4px, 5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 50px, 60px, 75px, 100px;
@margins: 1px, 2px, 3px, 4px, 5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 50px, 60px, 75px, 100px;
@zindex: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200;

.pointer-events-inherit{
  pointer-events: inherit;
}

.fs {
  .for(@font-sizes); .-each(@i) {
    &-@{i} {.attr(font-size, @i);}
  }
}

.padding {
  .for(@paddings); .-each(@i) {
    &-@{i} {.attr(padding, @i);}
    &-top-@{i} {.attr(padding-top, @i);}
    &-right-@{i} {.attr(padding-right, @i);}
    &-left-@{i} {.attr(padding-left, @i);}
    &-bottom-@{i} {.attr(padding-bottom, @i);}
  }
}

.margin {
  .for(@margins); .-each(@i) {
    &-@{i} {.attr(margin, @i);}
    &-top-@{i} {.attr(margin-top, @i);}
    &-right-@{i} {.attr(margin-right, @i);}
    &-left-@{i} {.attr(margin-left, @i);}
    &-bottom-@{i} {.attr(margin-bottom, @i);}
  }
}

.z-index {
  .for(@zindex); .-each(@i) {
    &-@{i} {.attr(z-index, @i);}
  }
}

.list-style-none{list-style: none;}

.ltr{direction: ltr}
.rtl{direction: rtl}

.no-padding{
  padding: 0px;
}
.mouse-hand{cursor: pointer;}
.center{text-align: center;}
.gray-hover{
  color: #999;
  &:hover{
    color:#454545;
  }
}