.panelbox{
  background: white;
  padding: 25px 30px 30px 30px;
  border: 1px solid #d8dee2;
  line-height: 30px;
  border-radius:5px
}

.panelbox input[type="checkbox"] {
  margin: 10px 5px 0 5px !important;
}