{% set theme_base = 'admin' %}
{% extends 'block/datagrid.html.twig' %}

{% set datagrid_title = 'لیست کاربران' %}
{% set datagrid_url = path('admin_user_user_remote_list') %}

{% block commandbar %}
    {{ parent() }}
    <a href="{{ path('admin_user_user_add') }}" class="btn btn-success">افزودن کاربر جدید</a>
    <a href="javascript:void(0)" onclick="do_delete_all()" class="btn btn-danger">حذف انتخاب شده ها</a>
{% endblock %}

{% block datagrid_custom_toolbar %}
    {% include ':filter:role.html.twig' with{'roles' : roles} only %}
    {% include ':filter:usergroup.html.twig' with{'usergroup' : usergroup} only %}
{% endblock %}


{% block footer %}
{{ parent() }}
<script>

    function do_delete(id){
        ajax_delete("{{ path('admin_user_user_remote_delete') }}", {ids : id});
    }

    function do_filter() {
        ajax_filter('role', $('#filter-role option:selected').val());
        ajax_filter('usergroup', $('#filter-usergroup option:selected').val());
        ajax_refresh_list();
    }

</script>
{% endblock %}

