{% extends 'theme/admin.html.twig' %}

{% block commandbar %}
    <a href="{{ path('admin_user_group') }}" class="btn btn-default">انصراف و بازگشت</a>
{% endblock %}

{% block body %}
    {{ errors }}
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title bold">ویرایش مشخصات گروه</h3>
        </div>
        <!-- /.box-header -->
        <form role="form" method="post" id="form_update">
            <div class="box-body">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" {% if tab == 'profile' %} class="active"{% endif %}><a href="#profile" onclick="$('#form_update').prop('action', '{{ path('admin_user_group_edit', {'id': group.id, 'tab': 'profile'}) }}')" aria-controls="profile" role="tab" data-toggle="tab">ویرایش پروفایل</a></li>
                    <li role="presentation" {% if tab == 'permissions' %} class="active"{% endif %}><a href="#permissions" onclick="$('#form_update').prop('action', '{{ path('admin_user_group_edit', {'id': group.id, 'tab': 'permissions'}) }}')" aria-controls="permissions" role="tab" data-toggle="tab">مدیریت دسترسی ها</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane padding-5px padding-top-25px{% if tab == 'profile' %} active{% endif %}" id="profile">
                        {% include ':field:title.html.twig' with { 'form': form } only %}
                        {% include ':field:name.html.twig' with { 'form': form } only %}
                        {% include ':field:memo.html.twig' with {"form": form } only %}
                    </div>
                    <div role="tabpanel" class="tab-pane padding-5px padding-top-25px{% if tab == 'permissions' %} active{% endif %}" id="permissions">
                        {% include ':field:permissions.html.twig' with {"form": form, "permissions": permissions } only %}
                    </div>
                </div>

            </div>
            <div class="box-footer no-border">
                {% include ':form:update_reset.html.twig' with { 'form': form } %}
            </div>
        </form>
        <!-- /.box-body -->
    </div>
{% endblock %}