{% set theme_base = 'admin' %}
{% extends 'block/datagrid.html.twig' %}

{% set datagrid_title = 'گروه های کاربری' %}
{% set datagrid_url = path('admin_user_group_remote_list') %}

{% block commandbar %}
    {{ parent() }}
    <a href="{{ path('admin_user_group_add') }}" class="btn btn-success">افزودن گروه جدید</a>
    <a href="javascript:void(0)" onclick="do_delete_all()" class="btn btn-danger">حذف انتخاب شده ها</a>
{% endblock %}


{% block footer %}
{{ parent() }}
<script>

    function do_delete(id){
        ajax_delete("{{ path('admin_user_group_remote_delete') }}", {ids : id});
    }

</script>
{% endblock %}

