<td>
    <select id="filter-enable" class="form-control input-sm" onchange="do_filter()">
        <option value="">همه موارد</option>
        <option value="1">وضعیت فعال</option>
        <option value="0">وضعیت غیر فعال</option>
    </select>
</td>