<div class="alert alert-info-flat alert-dismissible margin-top-10px margin-bottom-5px">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="filter_{{ name }}_reset()">×</button>
محدود شده بر حسب مشخصه {{ title }}
</div>