<div class="alert alert-warning-flat alert-dismissible margin-top-10px margin-bottom-5px">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="search_reset()">×</button>
    نتایج حاصل از جستجوی {{ search }}
</div>