<div class="list-checkbox">
    <label>گروه های کاربری</label>
    <div class="row">
    {% for group in usergroups %}
        <div class="col-sm-6 col-md-4 col-lg-3"><label><input type="checkbox" name="usergroups[]" value="{{ group.id }}" {% if user.getUsergroups.contains(group) %} checked="checked"{% endif %}> {{ group.title }}</label></div>
    {% endfor %}
    </div>
</div>