{% extends 'AppBundle::layout.html.twig' %}

{% block layout_body %}

    <style>
        body{background: #f9f9f9}
    </style>

    <div class="row margin-top-100px">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panelbox">
                <strong>کاربر گرامی</strong>
                <p>عملیات ثبت نام با موفقیت انجام شد.</p>
                <p><a href="#"><i class="fa fa-share" aria-hidden="true"></i> ورود به پنل کاربری</a></p>
            </div>
        </div>
    </div>

{% endblock %}