{% set theme_base = 'user' %}
{% extends ':block:datagrid.html.twig' %}

{% set datagrid_title = 'مدیریت پیام ها' %}
{% set datagrid_url = path('user_communication_message_remote_list') %}

{% block datagrid_custom_toolbar %}
    <td>
        <select id="datagrip-message-state" class="form-control input-sm" onchange="do_filter()">
            <option value="">همه پیام ها</option>
            <option value="read">خوانده شده</option>
            <option value="unread">خوانده نشده</option>
        </select>
    </td>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>

        function filter_status_reset() {
            $('#datagrip-message-state').val('');
            do_filter()
        }

        function do_filter() {
            ajax_filter('status', $('#datagrip-message-state option:selected').val());
            ajax_refresh_list();
        }

        ajax_search($('#datagrid_table_search').val());

    </script>
{% endblock %}

