<div dir="rtl">
    <h1>{{ name }} عزیز</h1>
    <p>درخواستی مبنی بر بازیابی رمز عبور اشتراک شما دریافت گردید. در صورتی که این درخواست از طرف شما ارسال شده لطفا بر روی لینک زیر کلیک و در غیر این صورت این درخواست را نادیده بگیرید.</p>
    <p><a href="http://{{ domain }}/reset/token/{{ token }}">بازیابی رمز عبور</a></p>
</div>