{% extends 'theme/user.html.twig' %}

{% block body %}
    {{ errors }}
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title bold">بروزرسانی مشخصات</h3>
        </div>
        <!-- /.box-header -->
        <form role="form" method="post" id="form_update">
            <div class="box-body">
                {% include ':field:fullname.html.twig' with { "form": form } only %}
                {% include ':field:mobile.html.twig' with { "form": form } only %}
                {% include ':field:email.html.twig' with { "form": form } only %}
            </div>
            <div class="box-footer no-border">
                {% include ':form:update.html.twig' with { "form": form } %}
            </div>
        </form>
        <!-- /.box-body -->
    </div>
{% endblock %}