{% extends 'AppBundle::layout.html.twig' %}

{% block layout_body %}

    <div class="row margin-top-100px">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panelbox">
                <strong>کاربر گرامی</strong>
                <p>در صورتی که نام کاربری یا آدرس ایمیل شما در پایگاه داده موجود باشد لینک بازیابی به آدرس ایمیل شما ارسال خواهد شد.</p>
                <div><a href="{{ path('login') }}">ورود به پنل کاربری</a></div>
            </div>
        </div>
    </div>

{% endblock %}