{% extends 'AppBundle::layout.html.twig' %}

{% block layout_body %}

    {% if error %}
        <div>{{ error.message|trans }}</div>
    {% endif %}
    {{ dump(data) }}
    <div class="row margin-top-100px">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panelbox">
                <form action="{{ path('register') }}" method="post" novalidate="novalidate">

                    <div class="form-group">
                        <label>آدرس ایمیل</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                            <input type="text" class="form-control" id="email" name="email" value="psproot@gmail.com" placeholder="آدرس ایمیل را وارد نمایید" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>نام کاربری</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="email" class="form-control" id="username" name="username" value="" placeholder="نام کاربری را وارد نمایید" />
                        </div>
                    </div>

                    <div class="form-group form-password">
                        <label>کلمه عبور </label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-hashtag mouse-hand password-key"></i></div>
                            <input type="password" class="form-control" id="password" name="password" placeholder="کلمه عبور را وارد نمایید" />
                        </div>
                    </div>

                    <script>
                        showPassword('.form-password');
                    </script>

                    <div class="margin-top-30px"></div>
                    <input type="submit" class="btn btn-warning btn-block" value="ایجاد اشتراک">

                    {{ form_row(form._token) }}

                </form>
            </div>

        </div>
    </div>

{% endblock %}