{% extends 'AppBundle::layout.html.twig' %}

{% block layout_body %}

    <div class="row margin-top-100px">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panelbox">
                <strong>کاربر گرامی</strong>
                <p>عملیات ثبت نام با موفقیت انجام شد.</p>
                <div><a href="{{ path('login') }}"> ورود به پنل کاربری</a></div>
            </div>
        </div>
    </div>

{% endblock %}