{% extends '::base.html.twig' %}

{% block body %}

    <style>
        body{background: #f9f9f9}
    </style>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row margin-top-100px">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="alert alert-success-flat" role="alert">
                            <ul class="list-style-none padding-right-15px">
                                <li><i class="fa fa-quote-right  margin-left-5px"></i> {{ message }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}