// Added Css
th a {
  color:#121212 !important
}

.main-header .logo .logo-lg {
  padding: 5px;
}
.sidebar-menu > li > a > span > i.fa-angle-left {
  transition: ease all 0.2s;
}
.sidebar-menu > li.active > a > span > i.fa-angle-left {
  .transform(rotate(-90deg));
}

.sidebar-collapse .sidebar-menu-header {
  background: #222d32;
}
.sidebar-collapse .sidebar-menu > li > a > i {
  font-size: 24px;
  margin-right: 5px;
}
.content-header .breadcrumb {
  float: right;
}
.content-header > .breadcrumb > li > a > .fa {
  margin-left: 6px;
  font-size: 14px;
  color: #787878;
}
.content-header .commandbar {
  float: left;
}

.box-tools {
  float: left;
}

.sidebar-menu-header {
  font-size: 13px;
}

.modal-message {
  min-height: 50px;padding: 10px;
}