{% extends 'admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                {{ datatable_render(datatable) }}

            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}
