{% extends 'theme/admin.html.twig' %}

{% block commandbar %}
    <a href="{{ path('admin_users_user') }}" class="btn btn-default">انصراف و بازگشت</a>
{% endblock %}

{% block body %}
    {{ errors }}
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title bold">افزودن کاربر جدید</h3>
        </div>
        <!-- /.box-header -->
        <form role="form" method="post">
            <div class="box-body">

                {% include ':field:fullname.html.twig' with { "form": form } only %}
                {% include ':field:mobile.html.twig' with { "form": form } only %}
                {% include ':field:email.html.twig' with { "form": form } only %}
                {% include ':field:password.html.twig' with { "form": form } only %}
                {% include ':field:list_usergroup.html.twig' with {"form": form } only %}
                {% include ':field:memo.html.twig' with {"form": form } only %}

            </div>
            <div class="box-footer no-border">
                {% include ':form:submit.html.twig' with { "form": form } %}
            </div>
        </form>
        <!-- /.box-body -->
    </div>
{% endblock %}